@model Movie;
@{
    ViewBag.Title = "Delete Movie";
}

<h2>Confirm Deletion</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="MovieId" />

    <button type="submit" class="btn-primary btn">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</form>
